.overLay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  // display: none;
}

.header {
  display: flex;
  width: 100%;
  height: 56px;
  justify-content: center;
  align-items: center;
  .header_frame {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 10px 24px;
    justify-content: flex-end;
    align-items: center;
    gap: 814px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #4c5bd4;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
    .header_left {
    }
    .header_right {
      display: flex;
      align-items: center;
      gap: 16px;
      .text {
        color: #fff;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 133.333% */
      }
      .btn_login {
        display: flex;
        padding: 10px 16px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 6px;
        background: #ff9052;
        .text_login {
          color: var(--FFFFFF, #fff);
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .btn_sigin {
        display: flex;
        padding: 10px 16px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 6px;
        background: #fff;
        .text_sigin {
          color: #4c5bd4;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}
.header_menu {
  display: none;
  span {
    margin-top: 20px;
  }
  .menu {
    position: fixed;

    justify-content: space-between;
    align-items: center;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 65px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: unset;
    background: #4c5bd4;
    justify-content: flex-end;
    .btn_sidebar {
      position: absolute;
      left: 15px;
      border: none;
      outline: none;
      background-color: unset;
      cursor: pointer;
      // width: 22px;
      // height: 24px;
    }
    .logo_frame {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
      }
    }
  }
}
@media (max-width: 1024px) {
  .header {
    display: none !important;
  }
  .header_menu {
    display: flex !important;
    flex-direction: column;
    .menu {
      display: flex;
    }
  }
}

@media (max-width: 1920px) {
  .header {
    display: flex;
    width: 100%;
    height: 56px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    .header_frame {
      display: flex;
      width: 100%;
      height: 56px;
      padding: 10px 24px;
      justify-content: flex-end;
      align-items: center;
      gap: 814px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #4c5bd4;
      box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
      .header_left {
      }
      .header_right {
        display: flex;
        align-items: center;
        gap: 16px;
        .text {
          color: #fff;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 133.333% */
        }
        .btn_login {
          display: flex;
          padding: 10px 16px;
          align-items: flex-start;
          gap: 10px;
          border-radius: 6px;
          background: #ff9052;
          cursor: pointer;
          .text_login {
            color: var(--FFFFFF, #fff);
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
          }
        }
        .btn_sigin {
          display: flex;
          padding: 10px 16px;
          align-items: flex-start;
          gap: 10px;
          border-radius: 6px;
          background: #fff;
          cursor: pointer;
          .text_sigin {
            color: #4c5bd4;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
  }
}
